@import url('https://fonts.googleapis.com/css3?family=Quicksand&display=swap');


.App {
  text-align: center;
}

.toggleButtonClass {
  background-color: lightblue;
  width: 200px;
}

.aCourseClass {
  background-color: lightcyan;
  border-color: #282c34;
  width: 200px;
}