
.App {
  text-align: center;
}

.toggleButtonClass {
  background-color: lightblue;
  width: 200px;
}

.aCourseClass {
  background-color: lightcyan;
  border-color: #282c34;
  width: 200px;
}

.chosenTable {
  background-color: lightgreen;
  border-width: 5px;
  margin-top: 50px;
}

.validateOK {
  color: green;
}

b {
  color: red;
}

/* body {
  margin: 0; 
  padding: 0;
  background-image: url('./images/finishing.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
} */