
.App {
  text-align: center;
}

.toggleButtonClass {
  background-color: lightblue;
  width: 200px;
}

.aCourseClass {
  background-color: lightcyan;
  border-color: #282c34;
  width: 200px;
}

.chosenTable {
  background-color: lightgreen;
  border-width: 5px;
  margin-top: 50px;
}

.validateOK {
  color: green;
}

b {
  color: red;
}

